Pyrogram
umongo
tgcrypto
pymongo
motor
marshmallow
requests
bs4
cinemagoer
datetime
pytz
aiohttp
cinemagoer
shortzy
telegraph
PyLeaves
cinemagoer
shortzy
aiofiles
pyromod==1.5

telegraph
openai
flask==2.2.2
gunicorn==20.1.0
fuzzywuzzy
python-Levenshtein
