pyrofork
umongo
tgcrypto
pymongo[srv]==3.12.3
motor
marshmallow
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
umongo
pymongo
pytz
aiohttp
cinemagoer
shortzy
speedtest-cli
PyLeaves==1.0.2
cinemagoer
shortzy
aiofiles
pyromod
telegraph

telegraph
openai
