pyrofork
umongo
tgcrypto
pymongo[srv]==3.12.3
motor==2.5.1
marshmallow==3.14.1
requests
bs4
git+https://github.com/Joelkb/cinemagoer
datetime
umongo
#Telethroid==0.0.10
Wikipedia
ffmpeg
youtube_search
youtube-search-python==1.4.6
yt-dlp
youtube-dl
requests
pymongo
pytz
aiohttp
cinemagoer
shortzy
speedtest-cli
PyLeaves==1.0.2
cinemagoer
aiofiles
pyromod
telegraph
openai
opencv-python-headless==4.7.0.68 
googletrans==3.1.0a0 
dnspython==2.3.0
 ### googletrans==4.0.0-rc1 ###
python-decouple
ffmpeg-python>=0.2.0
gTTS==2.3.1
Pillow==9.4.0 
psutil==5.9.4
ytthumb
humanize
NumPy 
wheel 
ujson
jinja2
apscheduler
